@import 'nib'
@import 'mrmrscolors'
@import 'brandcolors'

@import '../../bower_components/pure/pure-min.css'

html
  background white

html, body
  height 100%

body
  font 1em/1.45 'Open Sans', verdana, sans-serif
