<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} | App</title>
  {% endblock %}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/public.css">
  <script data-main="/js/public" src="/js/lib/require.js"></script>
</head>
<body>

  <div class="container">

    <nav>
      <a href="/">index</a>
      {% if g.current_user %}
      {{ g.current_user.email }}
      <a href="/logout" class="logout">logout</a>
      <a href="/app">app</a>
      {% else %}
      <a href="/login">login</a>
      <a href="/signup">signup</a>
      {% endif %}
    </nav>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      &copy; 2014
    </footer>

  </div>
</body>
</html>
