{% extends 'base.html' %}

{% block title %}Index{% endblock title %}

{% block content %}

<div>
<p>Yeah man. Well, you know, the Dude abides. Mind if I smoke a jay? Fuckin' A. Huh? Oh. Yeah. Tape deck. Couple of Creedence tapes. And there was a, uh… my briefcase. Whose toe was it, Walter? Fortunately I've been adhering to a pretty strict drug regimen to keep my mind, you know, limber. This Chinaman who peed on my rug, I can't go give him a bill so what the fuck are you talking about?</p>

<p>This is quite a pad you got here, man. Completely unspoiled. You thought, hey, a deadbeat, a loser, someone the square community won't give a shit about. Nice marmot. Walter, this isn't a First Amendment thing. Yeah man, it really tied the room together. Goddamnit Walter! You fucking asshole! Ever hear of the Seattle Seven? I got information—new shit has come to light and—shit, man! She kidnapped herself!</p>

<p>What the fuck does Vietnam have to do with anything! What the fuck were you talking about?! Hey! This is a private residence, man! I'm not Mr. Lebowski; you're Mr. Lebowski. I'm the Dude. It's a complicated case, Maude. Lotta ins. Lotta outs. And a lotta strands to keep in my head, man. I don't see any connection to Vietnam, Walter. Jeez. I miss vinyl. Obviously you're not a golfer.</p>

<p>I spent most of my time occupying various, um, administration buildings, smoking thai-stick, breaking into the ROTC and bowling. Another Caucasian, Gary. Fucking fascist! Sure. That and a pair of testicles. Uh-huh. Well, I still jerk off manually. I mean his wife goes out and owes money and they pee on my rug. Yeah. Roadie for Metallica. Speed of Sound Tour. I was, uh, one of the authors of the Port Huron Statement —The original Port Huron Statement. Not the compromised second draft.</p>

<p>The nail polish, Walter. Yeah well, that's just, ya know, like, your opinion, man. I'm unemployed. Does the Pope shit in the woods? You got the wrong guy. I'm the Dude, man. Jesus, man, can you change the station? Fuck me, man! That kid's already spent all the money! Fuck your sympathy! I don't need your sympathy, man, I need my fucking Johnson! I've had a rough night, and I hate the fucking Eagles, man.</p>
</div>

<div>

  <h2 class="title">Beta Access</h2>

  <form action="/request-beta-access" method="post" class="beta-access pure-form">
    <input type="text" name="email" placeholder="email@domain.com">
    <input type="text" name="promo_code" placeholder="promotional code">
    <button type="submit" class="pure-button">Require Beta Access</button>
  </form>

</div>

<div>
  <p>She's not my special lady, she's my fucking lady friend. I'm just helping her conceive, man! You make everything a fucking travesty! Would it be possible for me to get my twenty grand in cash? I gotta check this with my accountant of course. They're nihilists. I was, uh, one of the authors of the Port Huron Statement —The original Port Huron Statement. Not the compromised second draft.</p>

<p>I—the royal we, man, you know, the editorial. That guy treats objects like women, man. Walter, you can't do that. These guys're like me, they're pacifists. Smokey was a conscientious objector. Ever hear of the Seattle Seven? I got information—new shit has come to light and—shit, man! She kidnapped herself! Who the fuck is Arthur Digby Sellers? Fuckin' A. Huh? Oh. Yeah. Tape deck. Couple of Creedence tapes. And there was a, uh… my briefcase.</p>

<p>I'm not Mr. Lebowski; you're Mr. Lebowski. I'm the Dude. I, uh… money, yeah, I gotta respectfully, 69 you know, tender my resignation on that matter, 'cause it looks like your mother really was kidnapped after all. Ahh, you know. Strikes and gutters, ups and downs. Yeah. Roadie for Metallica. Speed of Sound Tour. We know it's his fucking homework, Walter! Where's the fucking money, you little brat?</p>

<p>Whose toe was it, Walter? You got the wrong guy. I'm the Dude, man. Listen, Maude, I'm sorry if your stepmother is a nympho. Can we just rent it from you? So he thinks it's the carpet-pissers, huh? I spent most of my time occupying various, um, administration buildings, smoking thai-stick, breaking into the ROTC and bowling. I've had a rough night, and I hate the fucking Eagles, man.</p>

<p>You know, the usual. Bowl. Drive around. The occasional acid flashback. How's the smut business, Jackie? Mind if I smoke a jay? WALTER, FOR CHRIST'S SAKE! HE'S CRIPPLED! PUT HIM DOWN! Hey! This is a private residence, man! Yeah well, that's just, ya know, like, your opinion, man. Fuck your sympathy! I don't need your sympathy, man, I need my fucking Johnson! No, the, uh, police chief of Malibu. A real reactionary.</p>
</div>

{% endblock content %}
